/*

    NOTE: THIS CSS FILE WAS DEPRECATED IN FAVOR OF AN AUTOMATIC CSS CONVERSION SCRIPT

*/

.arrow {
	display: block;
	width: 36.5px;
	height: 45.5px;
	position: absolute;
}
.arrowLeft {
	top: 169.5px;
	left: -10px;
}
.arrowRight {
	top: 169.5px;
	right: -10px;
}
.arrowLeftOn {
	background: url('../img/hoodie/arrows.png') scroll 0px -45.5px no-repeat;
}
.arrowLeftOff {
	background: url('../img/hoodie/arrows.png') scroll 0px 0 no-repeat;
}
.arrowRightOn {
	background: url('../img/hoodie/arrows.png') scroll -36.5px -45.5px no-repeat;
}
.arrowRightOff {
	background: url('../img/hoodie/arrows.png') scroll -36.5px 0px no-repeat;
}
#slideWindow {
	position: relative;
	width: 267.5px;
	height: 359px;
	overflow: hidden;
}
section article h1 {
	font-size: 20.5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ededed;
}
section article p {
	color: #404040;
}
#patch {
	width: 180.5px;
	height: 179px;
	margin: 25px auto;
	background: url('../img/hoodie/default.png') scroll no-repeat;
}
section article h2 {
	text-transform: uppercase;
	color: #ededed;
	font-size: 15px;
	line-height: 15.5px;
	margin-bottom: 13.5px;
}
section article h3 {
	text-transform: uppercase;
	color: #ededed;
	font-size: 15px;
	line-height: 15.5px;
	margin-bottom: 13.5px;
}
section article h4 {
	text-transform: uppercase;
	color: #ededed;
	font-size: 15px;
	line-height: 15.5px;
	margin-bottom: 13.5px;
}
section article h4 {
	margin-bottom: 20px;
}
#amp {
	color: red;
}
#slideContainer {
	position: relative;
	width: 957.5px;
	height: 359px;
	transition: margin ease-in 0.3s;
	-moz-transition: margin ease-in 0.3s;
	-webkit-transition: margin ease-in 0.3s;
	-o-transition: margin ease-in 0.3s;
}
.slide {
	width: 267.5px;
	height: 359px;
	float: left;
	margin-right: 50px;
}
/*
    sizes
*/

.sizes {
	margin-top: 10px;
}
ul.sizes li {
	display: inline;
	float: left;
}
.size {
	display: block;
	margin-right: 7px;
	margin-bottom: 10px;
	text-indent: -9999px;
	height: 46px;
}
.small {
	width: 38px;
	background: url('../img/hoodie/sizes-sprite.png') 0 0 scroll no-repeat;
}
.medium {
	width: 48.5px;
	background: url('../img/hoodie/sizes-sprite.png') -37px 0 scroll no-repeat;
}
.large {
	width: 62px;
	background: url('../img/hoodie/sizes-sprite.png') -86.5px 0 scroll no-repeat;
}
.extraLarge {
	width: 79px;
	background: url('../img/hoodie/sizes-sprite.png') -149.5px 0 scroll no-repeat;
}
/*
    hoodie
*/

.hoodie {
	width: 190.5px;
	height: 208.5px;
	margin: 0 auto;
	background: url('../img/hoodie/hoodie.png') scroll no-repeat;
	margin-bottom: 20px;
	margin-top: 11.5px;
}
/*
    send order button
*/

.sendOrder {
	width: 104.5px;
	height: 20px;
	margin: 0 auto;
	display: block;
	border: none;
	background: url('../img/hoodie/send-order.png') scroll no-repeat;
}