.arrow {
    display: block;
    width: 73px;
    height: 91px;
    position: absolute;
}

.arrowLeft {
    top: 339px;
    left: -20px;
}

.arrowRight {
    top: 339px;
    right: -20px;
}

.arrowLeftOn {
    background: url('../img/hoodie/arrows@2x.png') scroll 0px -91px no-repeat;
}

.arrowLeftOff {
    background: url('../img/hoodie/arrows@2x.png') scroll 0px 0 no-repeat;
}

.arrowRightOn {
    background: url('../img/hoodie/arrows@2x.png') scroll -73px -91px no-repeat;
}

.arrowRightOff {
    background: url('../img/hoodie/arrows@2x.png') scroll -73px 0px no-repeat;
}

#slideWindow{
    position: relative;
    width: 535px;
    height: 718px;
    overflow: hidden;
}

section article h1 {
    font-size: 41px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ededed;
}

section article p {
    color: #404040;
}

#patch {
    width: 361px;
    height: 358px;
    margin: 50px auto;
}

section article h2, 
section article h3,
section article h4 {
    text-transform: uppercase;
    color: #ededed;
    
    font-size: 30px;
    line-height: 31px;
    
    margin-bottom: 27px;
}

section article h4 {
    margin-bottom: 40px;
}

#amp {
    color: red;
}

#slideContainer {
    position: relative;
    width: 1915px;
    height: 718px;
    
    transition: margin ease-in 0.3s;
    -moz-transition: margin ease-in 0.3s;
    -webkit-transition: margin ease-in 0.3s;
    -o-transition: margin ease-in 0.3s;
}

.slide {
    width: 537px;
    height: 718px;
    float: left;
    margin-right: 100px;
}

.slide1 h2 {
    text-align: center;
}

/*
    sizes
*/

.sizes {
    margin-top: 20px;
    margin-left: 43px;
}

ul.sizes li {
   display: inline;
   float: left;
}

.size {
    display: block;
    margin-bottom: 20px;
    text-indent: -9999px;
    height: 90px;
}

.small {
    width: 82px;
    
    background: url('../img/hoodie/sizes-sprite@2x.png') 0 0 scroll no-repeat;
}

.medium {
    width: 97px;
    
    background: url('../img/hoodie/sizes-sprite@2x.png') -82px 0 scroll no-repeat;
}

.large {
    width: 126px;
    
    background: url('../img/hoodie/sizes-sprite@2x.png') -179px 0 scroll no-repeat;
}

.extraLarge {
    width: 163px;
    
    background: url('../img/hoodie/sizes-sprite@2x.png') -305px 0 scroll no-repeat;
}

#small .active {
    background: url('../img/hoodie/sizes-sprite@2x.png') 0 -88px scroll no-repeat;
}

#medium .active {
    background: url('../img/hoodie/sizes-sprite@2x.png') -82px -88px scroll no-repeat;
}

#large .active {
    background: url('../img/hoodie/sizes-sprite@2x.png') -179px -88px scroll no-repeat;
}

#extraLarge .active {
    background: url('../img/hoodie/sizes-sprite@2x.png') -305px -88px scroll no-repeat;
}

/*
    hoodie
*/

.hoodie {
    width: 381px;
    height: 417px;
    margin: 0 auto;
    
    background: url('../img/hoodie/hoodie@2x.png') scroll no-repeat;
    margin-bottom: 40px;
    margin-top: 23px;
}

/*
    send order button
*/

.sendOrder {
    width: 209px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: none;
    
    background: url('../img/hoodie/send-order@2x.png') scroll no-repeat;
}

/*
    hidden form
*/

#hoodieFormContainer {
    display: none;
}

/*
    letter classes
*/

.a {
    background: url('../img/hoodie/letters/a@2x.png') scroll no-repeat;
}

.b {
    background: url('../img/hoodie/letters/b@2x.png') scroll no-repeat;
}

.c {
    background: url('../img/hoodie/letters/c@2x.png') scroll no-repeat;
}

.d {
    background: url('../img/hoodie/letters/d@2x.png') scroll no-repeat;
}

.e {
    background: url('../img/hoodie/letters/e@2x.png') scroll no-repeat;
}

.f {
    background: url('../img/hoodie/letters/f@2x.png') scroll no-repeat;
}

.g {
    background: url('../img/hoodie/letters/g@2x.png') scroll no-repeat;
}

.h {
    background: url('../img/hoodie/letters/h@2x.png') scroll no-repeat;
}

.i {
    background: url('../img/hoodie/letters/i@2x.png') scroll no-repeat;
}

.j {
    background: url('../img/hoodie/letters/j@2x.png') scroll no-repeat;
}

.k {
    background: url('../img/hoodie/letters/k@2x.png') scroll no-repeat;
}

.l {
    background: url('../img/hoodie/letters/l@2x.png') scroll no-repeat;
}

.m {
    background: url('../img/hoodie/letters/m@2x.png') scroll no-repeat;
}

.n {
    background: url('../img/hoodie/letters/n@2x.png') scroll no-repeat;
}

.o {
    background: url('../img/hoodie/letters/o@2x.png') scroll no-repeat;
}

.p {
    background: url('../img/hoodie/letters/p@2x.png') scroll no-repeat;
}

.q {
    background: url('../img/hoodie/letters/q@2x.png') scroll no-repeat;
}

.r {
    background: url('../img/hoodie/letters/r@2x.png') scroll no-repeat;
}

.s {
    background: url('../img/hoodie/letters/s@2x.png') scroll no-repeat;
}

.t {
    background: url('../img/hoodie/letters/t@2x.png') scroll no-repeat;
}

.u {
    background: url('../img/hoodie/letters/u@2x.png') scroll no-repeat;
}

.v {
    background: url('../img/hoodie/letters/v@2x.png') scroll no-repeat;
}

.w {
    background: url('../img/hoodie/letters/w@2x.png') scroll no-repeat;
}

.x {
    background: url('../img/hoodie/letters/x@2x.png') scroll no-repeat;
}

.y {
    background: url('../img/hoodie/letters/y@2x.png') scroll no-repeat;
}

.z {
    background: url('../img/hoodie/letters/z@2x.png') scroll no-repeat;
}
