root {
    display: block;
}
body {
    background-color: black;
}
#wrap {
    position: relative;
    width: 640px;
    height: 1136px;
    background: url('../../images/person/bg@2x.png') scroll no-repeat;
}
header {
    width: 640px;
    height: 306px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../images/common/top-nav@2x.png') 0 79px scroll no-repeat;
}

header form {
    position: absolute;
    width: 583px;
    height: 103px;
    top: 203px;
    left: 30px;
    display: block;
}

header form #inputs input {
    width: 522px;
    background: none;
    border: none;
}

header form #submit input {
    position: absolute;
    top: 46px;
    right: 18px;
    
    width: 98px;
    height: 39px;
    background: url('../../images/common/submit@2x.png') scroll no-repeat;
    
    text-indent: -9999px;
    
    background: none;
    border: none;
}

header nav {
    width: 640px;
    height: 79px;
    margin: 0 auto;
}

header nav a {
    display: block;
    float: left;
    height: 79px;
    text-indent: -9999px;
}

#homeNavLink {
    width: 209px;
    background: url('../../images/common/header-nav-sprite@2x.png') 0 0 scroll no-repeat;
}

#partnersNavLink {
    width: 217px;
    background: url('../../images/common/header-nav-sprite@2x.png') -209px 0 scroll no-repeat;
    /*\b[0-9]+(px)?\b*/
}

#blogsNavLink {
    width: 214px;
    background: url('../../images/common/header-nav-sprite@2x.png') -426px 0px scroll no-repeat;
}

#homeNavLink:hover,
#homeNavLink:active {
    background-position: 0 -79px;
}

#partnersNavLink:hover,
#partnersNavLink:active {
    background-position: -209px -79px;
}

#blogsNavLink:hover,
#blogsNavLink:active {
    background-position: -426px -79px;
}

section {
    position: absolute;
    top: 338px;
    left: 30px;
    width: 585px;
    height: 768px;
}

section article {
    position: relative;
    width: 535px;
    height: 718px;
    padding: 25px;
}

section article h1 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ededed;
}

.title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #404040;
    margin-top: 16px;
}

.back {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    
    width: 99px;
    height: 40px;
    background: url('../../images/person/back@2x.png') scroll no-repeat;
}

section article img {
    width: 585px;
    margin-left: -25px;
    margin-top: 40px;
}

section article ul {
    
}

section article ul li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 25px;
    
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
}

section article ul li span {
    color: #404040;
}

section article ul li,
section article ul li a {
    color: #ededed;
}

.plus {
    display: block;
    position: absolute;
    bottom: 25px;
    right: 25px;
    
    width: 43px;
    height: 40px;
    background: url('../../images/person/plus@2x.png') scroll no-repeat;
}

