section article h1 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ededed;
}

.title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #404040;
    margin-top: 16px;
}

.back {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 99px;
    height: 40px;
    background: url('../../images/template/back@2x.png') scroll no-repeat;
}

section article img {
    width: 585px;
    margin-left: -25px;
    margin-top: 40px;
}

section article ul li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 25px;
    
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
}

section article ul li span {
    color: #404040;
}

section article ul li,
section article ul li a {
    color: #ededed;
}

.plus {
    display: block;
    position: absolute;
    bottom: 25px;
    right: 25px;
    
    width: 43px;
    height: 40px;
    background: url('../../images/template/plus@2x.png') 2px 120px scroll no-repeat;
}

