<!-- 
    Author: Mike Newell © 2012
-->
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5 maximum-scale=1.0'" />
        
        <title>GSP Partner App || Person</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" type="text/css" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../css/template/style.css.php" media="only screen and (-webkit-min-device-pixel-ratio: 1)" />
        <link rel="stylesheet" type="text/css" href="../css/template/retina.css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" />
    </head>
    <body>
        <div id="wrap">
            <header>
                <nav>
                    <a href="#" id="homeNavLink">HOME</a>
                    <a href="#" id="partnersNavLink">PARTNERS</a>
                    <a href="#" id="blogsNavLink">BLOGS</a>
                </nav>
                <form action="search.php" autocomplete="on">
                    <fieldset id="inputs">
                        <input type="text" name="search" placeholder="Name or email of the person you're searching for..." autocomplete="on" required>
                    </fieldset>
                    <fieldset id="submit">
                        <input type="submit">
                    </fieldset>
                </form>
            </header>
            <section id="ajax">
                <article>
                    <h1>Sharon Byer</h1>
                    <p class="title">Account Manager</p>
                    <a href="#" class="back"></a>
                    <img src="../images/template/persons/sharon-byer.png" />
                    <ul>
                        <li><span>Office Phone: </span><a href="tel:3004231209">300-423-1209</a></li>
                        <li><span>Mobile Phone: </span><a href="tel:3004231209">300-567-1234</a></li>
                        <li><span>IM: </span>thisisthegreatestthing</li>
                        <li><span>Skills: </span><br />talking, writing emails, other things</li>
                    </ul>
                    <a href="#" class="plus"></a>
                </article>
            </section>
            <footer>
                
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="../js/retina.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>